:root {
  --green: #1e90ff;
  --white: #ffffff;
}

.box {
  margin: 10px;
  border: 2px solid rgba(122, 122, 122, 0.45);
  caret-color: transparent;
  text-align: center;
  font-family: Arial;
  width: 50px;
  height: 50px;
}

nav {
  border-bottom: 1px;
}

.underline-me{
  border: 2px solid black;
}

@keyframes flipping {
  20% {rotate: x 90deg;}
}

.flip {
  animation-name: flipping;
  animation-duration: 1s;
  animation-delay: 0s;
}

.title {
  font-size: 50px;
}