:root {
  --green: #1e90ff;
  --white: #ffffff;
}

.box {
  margin: 10px;
  border: 2px solid rgba(122, 122, 122, 0.45);
  caret-color: transparent;
  text-align: center;
  font-family: Arial;
  width: 50px;
  height: 50px;
}

nav {
  border-bottom: 1px;
}

.underline-me{
  border: 2px solid black;
}

/*@keyframes flipping {
  20% {rotate: x 90deg;}
}
*/
@keyframes flippingGreen {
  20% {
    rotate: x 90deg;    
  }
  100% {
    background-color: green;
  }
}

.flip {
  animation-name: flipping;
  animation-duration: 1s;
  animation-delay: 0s;
}

.flip2{
  animation-name: flipping;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

.flip3 {
  animation-name: flipping;
  animation-duration: 1s;
  animation-delay: 1s;
}

.flip4 {
  animation-name: flipping;
  animation-duration: 1s;
  animation-delay: 1.5s;
}

.flip5 {
  animation-name: flipping;
  animation-duration: 1s;
  animation-delay: 2s;
}

